#home-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#title-box {
  font-size: 32px;
  font-weight: 700;
}
#weather-box {
  width: 350px;
  height: 350px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border: 1px solid gray;
  text-decoration: none;
  color: black;
}

#region {
  font-size: 24px;
}

#weather-info-box {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#weather-detail-box {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

#home-btn {
  padding: 3px 6px;
  text-decoration: none;
  background-color: lightgray;
  color: black;
  border: 1px solid gray;
}

.disabled-link {
  pointer-events: none;
  cursor: default;
}
